/* input {
  margin-top: 20px;
} */

body {
  /* padding: 25px; */
  font-family: 'Comfortaa', cursive;
  background-image: url("grey.png");
  margin: 0;
}


.content {
	padding: 25px;
	/* background-color: yellow; */
	grid-column: 1/-1;
}
.wrapper {
  width: 510px;
  margin: 0 auto;
}

.page-container {
	min-height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto 1fr auto;
	/* grid-template-rows: 50px auto 100px; */

	}

.header {
	grid-column: 1/-1;
	background-color: #000;
	/* height: 50px; */
	}

footer{
	grid-column: 1/-1;
	/* margin-top:250px; */
	text-align: center;
	background-color: #000;
	padding: 20px;

	}

/* ---------------------------------- navigation -------------------------------*/

nav ul {
	display: flex;
	justify-content: center;
	margin: 0;
	list-style-type: none;
}

/* nav ul li {
	width: 150px;
	margin: 0 10
} */

nav ul li a {
	display: block;
	width: 150px;
	color: #fff;
	background-color: #34495E;
	text-decoration: none;
	text-align: center;
	/* height: 50px; */
	line-height: 35px;
	margin: 7px 10px;
	border-radius: 7px;
}

nav ul li a:hover {
	background-color: #95a5a6;
}


/* --------------- The container -------------------------------------------*/
.container {
    display: block;
    position: relative;
    padding: 0 0 10px 35px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ---------------- buttons ----------------------------------------------*/


a.buttons {
  background-color: #34495E;
  padding: 8px 15px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

a.buttons:hover {
  background-color:  #95a5a6;
  color: #fff;
}

.button {
    /* background-color: #4CAF50; */
    background-color: #34495E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Comfortaa', cursive;
}

.button:hover {
    background-color: #95a5a6;
}



/* --------------- Form -------------------------------------------*/
form{
    width: 500px;
    margin: 0 auto;
    background: #95a5a6;

    border-radius: 10px;
}

.form-body{
    padding: 40px;
}

.form-body p.submitp {
  text-align: center;

}

.form-header {
  background: #34495E;
  color: #fff;
  padding: 20px 40px;
  border-radius: 10px 10px 0 0;
}

.form-header p {
  line-height: 160%;
}

form h3 {

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #34495E;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}


/* ---------------------------------- radio buttons --------------------------------*/

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
label.container span {
	font-weight: bold;
    text-decoration: underline;
    /* font-family: 'Bangers', cursive; */
    /* font-family: 'Architects Daughter', cursive; */
    font-size: 18px;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 5px;
}

.picker {
  padding: 25px 10px 15px 10px;
  border-radius: 5px;
  margin: 2px 0;
}

.odd {
  background-color: #fff;

}


/* -------------------checkboxes -------------------------------------*/

/* The container */
.container-ck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-ck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-ck:hover input ~ .checkmark-2 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-ck input:checked ~ .checkmark-2 {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-2:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-ck input:checked ~ .checkmark-2:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-ck .checkmark-2:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checklist {
  margin: 25px 0;
}

.active {
  background-color: #f39c12;

}
