{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/minor_power_launch'>
  <section class="form-header">
    {% if message is defined %}
    <p>{{ message }}</p>
    {% endif %}
    <p>Please select the minor power you would like to add to your character:</p>
  </section>
  <section class="form-body">

    {% for power in current_minor_power_dict %}
    <div class="picker {{ loop.cycle('odd', 'even') }}">
      <label class="container"><span class="big_deal">{{ current_minor_power_dict[power]['power_name'] }}</span> - {{ current_minor_power_dict[power]['description']}}
        <input type="radio" name="current_minor_power" value="{{ current_minor_power_dict[power]['power_name'] }}">
        <span class="checkmark"></span>
      </label>
    </div>
    {% endfor %}
    <input type="hidden" name="timestamp" value="{{ timestamp }}">

    <p class="submitp"><input class="button" value='Make Choice' type='SUBMIT'></p>
  </section>
</form>



{% endblock %}
