{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' enctype="multipart/form-data" action='{{ url_for('upload') }}'>
  <section class="form-header">
    <h3>Upload Hero Here</h3>
	<p></p>
	<p>Choose a PNG file from the SMF Character Creator and upload it to our system for review.</p>
  </section>
  <section class="form-body">

    <input type="hidden" name="timestamp" value="{{ timestamp }}">
	{% if results is defined %}
    <p class="{{ alert_box_class }}">{{ results }}</p>
    {% endif %}
	<label for="file" class="input-label"> <span id="label_span">Select Files to Upload</span> </label>
		<input id="file" type=file name=photo>

	<p class="submitp"><input class="button" value='Upload' type='SUBMIT'></p>
  </section>
</form>





{% endblock %}


{% block script %}
	<script src="{{ url_for('static', filename='upload.js') }}"> </script>

{% endblock %}
